/.idea
/.vscode

/build
/target

coverage*.txt

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

pythonenv*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# profiling data
.prof
